.container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container-title {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-items: center;
  justify-content: space-around;
  background-color: #fff;
}
